<div class="container text-center">
<fieldset>
    <div class="form-group">
      <label for="name" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-6">
        <input type="text"
         class="form-control"
         id="name"
         name="name"
         value="<%= food.name %>"
         placeholder="Event Name">
      </div>
    </div>

    <div class="form-group">
      <label for="address" class="col-lg-2 control-label">Address</label>
      <div class="col-lg-6">
        <input type="text"
         class="form-control"
         id="address"
         name="address"
         value="<%= food.address %>"
         placeholder="Event Address">
      </div>
    </div>

    <div class="form-group">
      <label for="date" class="col-lg-2 control-label">Date</label>
      <div class="col-lg-6">
        <input type="date"
         class="form-control"
         id="date"
         name="date"
         value="<%= food.date%>">
      </div>
    </div>

     <div class="form-group">
      <label for="time" class="col-lg-2 control-label">Time</label>
      <div class="col-lg-6">
        <input type="time"
         class="form-control"
         id="time"
         name="time"
         value="<%= food.time %>">
      </div>
    </div>
</fieldset>
</div>