html,
body,
#google_canvas {
  height:100%;
}
#google_canvas h1 {
  font-size:16px;
}
#google_canvas h2 {
  font-size:14px;
  font-weight:300;
}

/*#carousel-example-generic {
  min-width: 1350px;
}*/

#left-carousel-control {
  margin: 0;
  padding: 0;
}

#right-carousel-control {
  margin: 0;
  padding: 0;
}

#gmap {
  position: center;
  max-width: 850px;
}

#top-image {
    padding-left: 0;
    padding-right: 0;
}

*,
*:after,
*:before {
  margin: 0;
  padding:auto;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}
body {


  font:400 19px/1.8 'Poiret One', cursive;
  background:#333;
  font:400 25px/1.4 'Poiret One', cursive;
  /*background: #000;*/
  font:'Helvetica Neue', Helvetica, Arial, sans-serif;
  background:#333;
}

.jumbotron {
  background-color: rgba(0,0,0,0.5);
}

/*Separates Food Event Panels*/
.panel-success {
  margin: 20px 0px 20px 0px;

}

#wrapper {
  max-width:1280px;
  /*margin:0 auto;*/
  margin-top: 100px;
}


/*Index Page: Welcome to Free Food*/
.navbar-brand {
  font-size: 45px;
  padding: 25px 0 0 50px;
  font-family:'Poiret One', cursive;
  font-family: 'Indie Flower', cursive, Gadget, sans-serif;
  font-style: bold;
}
.first-letter {
  font-size: 1.6em;
}

.head {
  font-family:'Poiret One', cursive;
}

.header {
  padding:15px 25px;
  font-family:'Poiret One', cursive;
  margin:0 0 20px;
  background:#FFF;
  border-left:5px solid #2BA6CB;
  overflow:hidden;
}

.logo {
  float:left;
}

.fflogo {
  font-family: 'Indie Flower', cursive, Gadget, sans-serif;
}

.carousel {
  margin-bottom: 100px;
  /*width: 100%;*/
  font-family:'Poiret One', cursive;
  /*width: 100%;*/

}

.footer {
  padding: 10px 0 10px 0;
  margin: 10px 0 0 0;
  overflow: hidden;
}


.nav {
  float:right;
  margin:12px 0;
  list-style:none;
  font-family:'Poiret One', cursive;
}
.nav-link {

}

.nav-link a {
  color:#2BA6CB;
  text-decoration:none;
}

      #map {
        width: 500px;
        height: 400px;
      }

      map.addMarker({
        lat: -12.043333,
        lng: -77.028333,
        title: 'Lima',
        click: function(e) {
        alert('You clicked in this marker');
      }

      infoWindow: {
        content: '<p>HTML Content</p>'
      }

      url = GMaps.staticMapURL({
      size: [610, 300],
      lat: -12.043333,
      lng: -77.028333,
      markers: [
      {lat: -12.043333, lng: -77.028333},
      {lat: -12.045333, lng: -77.034,
        size: 'small'},
      {lat: -12.045633, lng: -77.022,
      color: 'blue'}
      ]
    });

      $('<img/>').attr('src', url)
        .appendTo('#map');
    });

      map = new GMaps({
        div: '#map',
        zoom: 16,
        lat: -12.043333,
        lng: -77.028333,
        click: function(e) {
          alert('click');
        },
        dragend: function(e) {
          alert('dragend');
        }
    });

