<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body class="container-fluid">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div>
        <h1>Free Food Event:</h1>

        <% foods.forEach(function(food) { %>
        <h4>
          <form method="POST" action="/foods/<%= food._id %>?_method=DELETE">
            <a href="/foods/<%= food._id %>"><%= food.title + ' - ' + food.completed %></a>
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
        <% }) %>
      </div>
      <a href="/foods/new" class="btn btn-primary">New</a>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
