<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>Your Free Food Event</h3>
      <p><b>Title: </b><%= food.title %></p>
      <p><b>ID: </b><%= food._id %></p>
      <p><b>Event Completed: </b><%= food.completed %></p>
    </div>
    <a href="/foods" class="btn btn-primary">Back</a>
    <a href="/foods/<%= food._id %>/edit" class="btn btn-danger">Edit</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>

