<div>
  <h3>EDIT:</h3>
  <form class="food-form form-horizontal" method="POST" action="/foods/<%= food._id %>?_method=PUT">
    <% include ../partials/food-form %>
    <a href="/foods" class="btn btn-primary">Back</a>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
